<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="./login.component.css">
  <script>
    function clearValue(element) {
      element.value = '';
    }
  </script>
</head>
<body>
<div class="container">
  <div class="spacer"></div>
  <div class="login-form">
    <h2>LOGIN</h2>
    <form (ngSubmit)="login()">
      <input type="text" id="username" name="username" [(ngModel)]="username" required placeholder="Username">
      <input type="password" id="password" name="password" [(ngModel)]="password" required placeholder="Password">
      <button type="submit" id="btnLogin">Login</button>
      <a (click)="openRegistration()">Register</a>
    </form>
  </div>
  <div class="spacer"></div>
</div>
</body>
</html>
